<!doctype html>
<html class="h-full">
  <head>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
      <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
      <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
      <script defer src="/static/js/alpine-init.js"></script>
      <style>
        * { font-family: 'Inter', sans-serif; }
      </style>
  </head>
  <body class="min-h-screen flex flex-col bg-[url('/static/images/bg.png')]
         bg-black
         bg-no-repeat
         bg-left-top
         bg-[length:100%_132.187%]">
    {% include "components/nav.html" %}
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>

